body {
    background: black;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
  }
  
  @font-face {
    font-family: 'Manrope-Regular';
    src: url(/assets/fonts/regular.otf);
  }
  
  @font-face {
    font-family: 'Manrope-Light';
    src: url(/assets/fonts/light.otf);
  }
  
  img {
    border-radius: 50%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    height: auto;
    max-width: 150px;
  }
  
  .profile-name {
    text-align: center;
    padding: 40px;
    font-family: 'Manrope-Regular';
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    margin-top: auto;
  }
  
  .filter {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    font-family: 'Manrope-Light';
    font-size: 15px;
    letter-spacing: 2px;
  }
  
  .enjoy {
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 80px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Manrope-Regular';
    font-size: 20px;
    letter-spacing: 2px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  .bottom-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    margin-top: auto;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Manrope-Regular';
    font-size: 20px;
    letter-spacing: 2px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  .clock {
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Manrope-Regular';
    font-size: 20px;
    letter-spacing: 2px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  .to-top {
    background: rgb(24, 24, 24);
    position: fixed;
    bottom: 55px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: rgb(100, 100, 100);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .to-top.active {
    bottom: 110px;
    pointer-events: auto;
    opacity: 1;
  }
  
  .to-top:hover {
    color: rgb(100, 100, 100);
    background: rgb(24, 24, 24);
  }
  
  a {
    text-decoration: none;
    color: white;
    transition: color 2s; 
  }
  
  a:hover {
    color: #000;
    background: #fff;
  }
  
  ::-webkit-scrollbar {
    width: 7.5px;
    background-color: rgb(24, 24, 24);
    border-radius: 9.6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(70, 70, 70);
  }